.cursor-move{
	cursor:move !important;	
}

.move-btn {
	margin-right: 8px;
	margin-top: 3px;
}

#field-box {
	min-width: 590px;
	padding-top: 30px;
	display: block;
	text-shadow:0 1px 0 #FFFFFF;

}

#field-box h3{
	display:block;
	font-size: 16px;
	font-weight:bold;
	margin: 0;
}

/* @group Category Container */

/* @group New Category */

div.new-category {
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	-khtml-border-radius:6px 6px 6px 6px;
	border-radius: 6px !important;
	
	border: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0 !important;
	padding-left: 6px !important;
	margin-top: 0px !important;
}
div.new-category input {
	color: #929292 !important;
}

/* @end */

div.category-heading-container {
	-moz-border-radius:6px 6px 0 0;-
	webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	-khtml-border-top-right-radius:6px;
	-khtml-border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	background:#dfdfdf url("images/gray-grad.png") repeat-x left top;
	color: #464646;
	text-shadow:0 1px 0 #FFFFFF;
	/*cursor:move;*/
	line-height: 44px;
	padding-left: 9px;
	padding-right: 9px;
	font-size: 16px;
	height: 44px;
	border: 1px solid #c0c0c0;
	border-bottom-style: none;
	margin-top: 25px;
	position: relative;
	display: block;
}
.static-view:first-child div.category-heading-container {
	margin-top: 0;
}
div.category-wrapper input:focus, div.category-wrapper input:focus, div.field-container input:hover, div.field-container input:focus {
	box-shadow: 0 1px 10px #ccc;
	-webkit-box-shadow: 0 1px 10px #ccc;
	-moz-box-shadow: 0 1px 10px #ccc;
	display: inline-block;
	border: 1px solid #b5b5b5;
	background: #fff;
}

div.field-container {
	background-color: #f7f7f7;
	padding: 5px;
	border: 1px solid #c0c0c0;
	position: relative;
}
.static-view div.field-container {
	padding: 0;
}

div.category-buttons{
	float: right;
	height: 30px;
	margin-top: 7px;
}

/* @end */

div.field-headings {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 8px;
	color: #3a3a3a;
	margin-top: 8px;
	overflow: hidden;
}

.static-view div.field-row, div.new-field-row {
	margin: 0;
}
div.field-row, div.new-field-row {
	clear: left;
	margin-bottom: 7px;
}
div.field-inputs {
	overflow: hidden;
}
div.field-buttons a{
	height: 30px;
	width: 24px;
	position: relative;
	float: left;
}
div.field-buttons a.add{background: url(images/add.png) no-repeat 0 center;}
div.field-buttons a.remove{	background: url(images/remove.png) no-repeat 0 center;}

div.field-inputs input{
	width: 99%;
	padding: 6px;
	font-size: 12px;
	overflow: hidden;
}
div.field-column1 input{
	font-weight: bold;
}
div.field-column3 input{
	color: #808080;
}
div.field-inputs > div{
	float: left;
}
.static-view div.field-inputs > div{
	padding: 5px;
/*	border: 1px solid #c9c;*/
}
.field-headings > div{float: left;}
.static-view .field-headings > div{padding: 4px;}

/* @group Column widths */
.field-headings .field-column0{height: 10px}
.field-column0 {width:24px;margin-right: 5px;} 
.field-column1 {width: 30%;margin-right: 1%}
.field-column2 {width: 30%;margin-right: 1%}
.field-column3 {width: 33%;margin-right: 0}


.static-view .field-column1 {width: 20%;margin-right: 1%}
.static-view .field-column2 {width: 40%;margin-right: 1%}
.static-view .field-column3 {width: 33%;margin-right: 0}

.static-view .field-column1 p span{
	background-color: rgba(247, 247, 247, 0.7);
}
.static-view .field-column1 p {float: left;width: 99%;}
.static-view input{
	background: none !important;
	border:  none !important;
	
}
/* @end */

#form-category {
	/*background-color: #fff6ed;*/
}
div.category-title, div.new-category-title {
	float: left;
}
div.category-title input, div.new-category-title input{
	width: 100%;
	padding: 6px;
	font-size: 16px;
	overflow: hidden;
	font-weight: bold;
	color: #414141;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #c0c0c0;
}

#form-category a.alignleft {
	float: left;
}

#error-test {
	text-shadow: 0 0 5px #D39916,
			0 0 4px #ccc,  
             0 -5px 4px #ff3,  
             2px -10px 6px #fd3,  
             -2px -15px 11px #f80,  
             2px -18px 18px #f20;
	font-size: 38px;
	margin-top: 57px;
	color: #fffeff;
}
.static-view div.field-headings {margin-left: 10px;}
.static-view.category-wrapper p {margin: 0;font-size: 14px;}
.static-view .field-row {border-top: 1px solid #ccc;}
.static-view .field-column1 {font-weight: bold;}
.static-view .field-column3 {color: #7f7e7f;}

.button{
	position: relative;
}
	
.hover-overlay{
	font-style: normal; 
	position: absolute; 
	left: 50%; 
	top: -26px; 
	width: 85px;
	text-align:center;
	margin-left: -47px;
	color: #fff;
	text-shadow: none;
	background: #ddd;
	background: rgba(80,80,80, .7); 
	border: 1px solid #999;
	padding: 2px 5px 2px 5px;
	border-radius: 8px;
	display: inline-block;
	opacity: 0;
	-webkit-transition:  all 0.25s;
	-moz-transition:	 all 0.25s;
	-o-transition:		 all 0.25s;
	transition:			 all 0.25s;
}
.button:hover .hover-overlay{
	opacity: 1;
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}